#header-container {
    background-color: #272744;

    height:40px;
    width: 100%;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0px 30px;
}

p {
    margin:0px;
}

.children-divs {
    box-sizing: border-box;
    padding: 0px 5px;
    height: 100%;
    display: flex;
    align-items: center;
}
#left-side-div {
    color: #fbf5ef;
}

#middle-div {
    color: #fbf5ef;
}

#right-side-div {
    color: #f2d3ab;
}