<div id="header-container">
    <div id="top-header-container">
        <div class="hr-divs" id="left-side-div">
            <hr class="mac-lines">
            <hr class="mac-lines">
            <hr class="mac-lines">
            <hr class="mac-lines">
            <hr class="mac-lines">
        </div>
        <div id="middle-div">
            <p>{{title}}</p>
        </div>
        <div id="right-side-div">
            <div class="hr-divs" id="first-part">
                <hr class="mac-lines">
                <hr class="mac-lines">
                <hr class="mac-lines">
                <hr class="mac-lines">
                <hr class="mac-lines">
            </div>
            <div (click)="onCloseClick()" id="second-part">
                <img ngSrc="assets/icons/exit.png" fill>
            </div>
            <div class="hr-divs" id="third-part">
                <hr class="mac-lines">
                <hr class="mac-lines">
                <hr class="mac-lines">
                <hr class="mac-lines">
                <hr class="mac-lines">
            </div>
        </div>
    </div>
    <hr class="separate-line">
</div>

